@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #bfd8f1;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content:space-evenly;
  font-family: 'VT323', monospace;
}
/* 
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 45px;
} */


.header__FlutterDashIcon {
  padding:5px;
  height: 22px !important;
  font-family: 'VT323', monospace;
}


 
.header__BlogIcon {
  padding:5px;
  height: 22px !important;
  
  
}