 /* .home{
   text-align: center;
   justify-content: center;
   
 } */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 

a{
  text-decoration: none;
}



img{
  width:100%;
  
}
 
 
.home__container{
  line-height: 0;
  position:relative;
  font-family: 'VT323', monospace;
}
 
.hello{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;/*余計な隙間を除く*/
  padding:0;/*余計な隙間を除く*/
  font-size: 60px;
  
}

/* 
img{
  width:100%;
  filter:grayscale(100%);
  /* filter:saturate(3);  鮮明*/
  /* filter:contrast(160%); */
  /* filter:brightness(0.5); 暗くなる*/
  /* filter:blur(3px);  */
  /* filter:invert(60%); */
  /* filter:sepia(100%); */
  /* filter:hue-rotate(180deg); */
  /* filter:opacity(50%); */
/* } */ 

/* 
.text__on__image{
  position:absolute;
  text-align: center;
  bottom:50%;
  color:rgb(0, 0, 0);
  left:50%;
  right:50%;
  
} */



.home__body{
  text-align: center;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  color:#333;
  letter-spacing: 1.5px;
  line-height: 1.75;
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

.home__body  h3 {
  font-size:32px;
}
@media screen and (min-width:480px) {
  .home__body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
    width:100%;
    
    /* align-items: start; */
  }
}
@media screen and (min-width: 1024px) {
  .home__body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
     width:100%;
    /* align-items: start; */
  }
}

.book__info{
   background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.izaka__info{
   background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.blog__info{
   background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}


/* icons */

.menu__book__icon{
  color:#6da9e6;
  font-size: 48px !important; 
}
.izaka__icon{
  color:#6da9e6;
  font-size: 48px !important; 
}
.blog__icon{
  color:#6da9e6;
  font-size: 48px !important; 
}


   
 
 
 