* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.izaka {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

 
 
@media screen and (min-width:480px) {
  .izaka {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
    width:100%;
    
    /* align-items: start; */
  }
}
@media screen and (min-width: 1024px) {
  .izaka {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    justify-content: center;
     width:100%;
    /* align-items: start; */
  }
}